*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

img{
    width: 100%;
}


/* Layout */
.container{
    max-width: 480px;
    min-width: 360px;
    margin: 0 auto;
    padding: 0 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}

                /* Header */

/* Navigation Bar */
nav .container{
    height: 70px;
}

nav .row{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

                /* Main */

/* Section Demo Application */
.demo{
    padding: 3rem 0;
}

.demo .col:first-child{
    padding-bottom: 0;
}

.demo .col{
    background-color: #b5ddff;

    width: 100%;
    border-radius: 25px;
    padding: 25px;
}

/* Items Demo Application */
.demo .col p{
    color: rgba(55, 54, 54, 0.7);
    font-weight: 600;
    line-height: 30px;
    padding: 2rem 0;
    
}

.demo .col button{
    letter-spacing: 5px;
    padding: 10px 40px;
    border-radius: 25px;
}

/* Section Strategic Planning*/
.planning{
    padding: 3rem 0;
}

.planning .col{
    width: 100%;
}

.planning .col:last-child{
    background-color: white;
    border-radius: 25px;
    padding: 40px;
}

/* Items Strategic Planning */
.planning .col p{
    line-height: 30px;
}

.planning .col #arrow{
    background-color: rgba(151,146,228,255);
    border-radius: 50%;
    padding: 15px;
}

/* Section Testimonials */
.testimonials{
    padding: 3rem 0;
}

.testimonials .col:first-child{
    background-color: white;
}

.testimonials .col{
    background-color: rgba(151,146,228,255);
    width: 100%;
    padding: 20px;
    border-radius: 25px;
}

/* Items Testimonials */
.testimonials .col img{
    width: 50%;
    border-radius: 50%;
}

.testimonials .col p:nth-child(2){
    padding-bottom: 20px;
}

/* Section Benefits */
.benefits{
    padding: 3rem 0;
}

.benefits .col{
    background-color: white;

    width: 100%;
    padding: 30px;
    border-radius: 25px;
}

/* Items Benefits */
.benefits .col h1{
    font-size: 3rem;
}

.benefits .col h1,
.benefits .col h2{
    color: rgba(151,146,228,255);
}

.benefits .col p{
    color: rgba(55, 54, 54, 0.7);
    font-weight: 600;
    line-height: 30px;
}

.benefits .col button{
    margin: 30px 0;
    padding: 10px 40px;
    font-weight: 600;
    letter-spacing: 5px;
    border-radius: 25px;
}

/* Section About Us */
.about-us{
    padding: 3rem 0;
}

.about-us .col{
    width: 100%;
}

/* Items About Us */
.about-us .col img{
    width: 50%;
    border-radius: 50%;
}

.about-us .col button{
    padding: 5px 10px;
    border-radius: 25px;
}

/* Section Started */
.started{
    padding: 3rem 0;
}

.started .col{
    padding: 10px;
}

/* Items Started */
.started .col p:first-child{
    color: rgba(255, 255, 255, 0.4);
}

.started .col button{
    padding: 10px 40px;
    border-radius: 30px;
}
                /* Footer */
footer{
    padding: 3rem 0;
}

footer .col{
    background-color: gray;
    height: 400px;

    width: 100%;
}



/* Reusable classes */
.margin-b-3rem{
    margin-bottom: 3rem;
}

.margin-t-b-30{
    margin: 30px 0;
}

.padding-top-40{
    padding-top: 40px;
}

.padding-t-b-40{
    padding: 40px 0;
}

.padding-t-b-30{
    padding: 30px 0;
}

.padding-t-b-20{
    padding: 20px 0;
}

.reset-button{
    text-decoration: none;
    border: none;
}

/* Text */
.text-centre{
    text-align: center;
}
.text-white{
    color: white;
}
.text-purple{
    color: rgba(151,146,228,255);
}

.text-blue{
    color: #007aff;
}

.text-gray{
    color: rgba(55, 54, 54, 0.7);
}

.line-height-30{
    line-height: 30px;
}

.font-weight-600{
    font-weight: 600;
}

.font-4rem{
    font-size: 4rem;
}

.font-2rem{
    font-size: 2rem;
}

/* Background Color */

.bg-blue{
    background-color: #007aff;
}

.bg-purple{
    background-color: rgba(151,146,228,255);
}

.bg-black{
    background-color: #0d0d0d;
}

@media screen and (min-width: 768px) {
    .container{
        min-width: 768px;
    }

    /* Section Demo Application */
    .demo .col:first-child{
        height: 500px;

        width: calc( (100% / 3 - 5px) * 2);
    }

    .demo .col{
        height: 500px;
    
        width: calc(100% / 3 - 15px);
    }

    /* Section Benefits */
    .benefits .col{
        height: 200px;
    
        width: calc(100% / 2 - 10px);
    }

    /* Section About Us */
    .about-us .col{
        height: 600px;
    
        width: calc(100% / 2 - 10px);
    }   
}

@media screen and (min-width: 1200px) {
    .container{
        min-width: 1200px;
    }

    /* Section Planning */
    .planning .row{
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    /* DA ELIMINARE */
    .planning .col:last-child{
        height: 500px;
    }

    .planning .col{
        height: 800px;
    
        width: calc(100% / 2);
    }

    /* Section Benefits */
    .benefits .col{
        height: 200px;
    
        width: calc(100% / 3 - 15px);
    }

    /* Section About Us */
    .about-us .col:first-child{
        width: calc(70% - 20px);
    }  

    .about-us .col:last-child{
        width: 30% ;
    }
}